-content_for :head do
  %title
    DressRoom &mdash; Profile settings

%h1= "Settings for user #{@user.login}"

-form_for(@user) do |f|
  %p
    =label_tag 'name'
    %br
    =f.text_field :name
    
  %p
    =label_tag 'email'
    %br
    =f.text_field :email
    
  %p
    =submit_tag 'Save'